body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  background-color: hsl(0, 0%, 100%);
  max-width: 20em;
  border-radius: 1.5em;
  text-align: center;
}
img {
  max-width: 18em;
  max-height: 18em;
  margin: 1.1em;
  border-radius: 0.7em;
}
h1 {
  color: hsla(218, 44%, 22%, 95%);
  font-size: 1.25rem;
  margin: 0 1em 0.5em 1em;
}
p {
  color: hsla(220, 15%, 55%, 85%);
  font-size: 0.85rem;
  margin: 0 2em;
  padding-bottom: 2.5em;
}
